aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.1.0
chardet==3.0.4
dj-database-url==0.5.0
Django==2.1.7
django-heroku==0.3.1
firebase==3.0.0
gcloud==0.17.0
googleapis-common-protos==1.5.8
gunicorn==19.9.0
httplib2==0.12.1
idna==2.8
idna-ssl==1.1.0
jws==0.1.3
multidict==4.5.2
oauth2client==3.0.0
protobuf==3.7.0
psycopg2==2.7.7
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycryptodome==3.4.3
Pyrebase==3.0.27
python-jwt==2.0.1
pytz==2018.9
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.0
six==1.12.0
telepot==12.7
typing-extensions==3.7.2
urllib3==1.24.1
whitenoise==4.1.2
yarl==1.3.0
